
.mother-box {
  justify-content: center;

}

.menu{
  background-color: #474444;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
}
.menu h2{
  color: rgb(30, 166, 171);
  font-size: 45px;
}
 .menu ul li{
  display: inline-block;
  padding: 0px 20px;

 }
 a{
  color: rgb(30, 166, 171);
  text-decoration: none;
 }
 .menu ul li :hover{
  color: aqua;
 }




 .caja-c3{
	width: 100%;
	background-size: cover;
  background-color: white;

}

.contenedor-footer {
    background-color: #282c34;
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-footer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.logo2 h4 {
    margin-bottom: 10px;
}

.terminos p {
    margin: 0;
}

.box-footer h2 {
    margin-bottom: 10px;
}

.box-footer a {
    display: block;
    color: #61dafb;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

.box-footer a:hover {
    color: #21a1f1;
}

.box-copy {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.box-copy hr {
    border: 1px solid #444;
    margin: 20px 0;
}

.box-copy p {
    margin: 0;
}

@media (max-width: 768px) {
    .box-footer {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .box-footer > div {
        margin-bottom: 20px;
    }
}


form {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
  }
  
  input[type="radio"] {
	margin-right: 10px;
	margin-left: 10px;
  }
  
  textarea {
	height: 100px;
  }
  
  button {
	display: inline-block;
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
  }
  
  button:hover {
	background-color: #45a049;
  }
  
  